<mat-card class="text-center dark-accent-bg product-card">
  <div>
      <img
          class="mb-1 mx-auto h-[200px] img-link"
          src={{product.assets[0].url}}
          (click) = "openProductModal()"
      />
      <div class="w-full">
          <h1 class="title truncate hover:whitespace-normal">
              {{product.name}}
          </h1>
          <p>
              {{product.description}}
          </p>
      </div>
      <div class="flex justify-between">
          <span class="warning-color">{{ product.price.formatted | currency }} </span>
          <button (click)="onAddToCart()">
              <mat-icon>shopping_cart</mat-icon>
          </button>
      </div>
  </div>
</mat-card>