<mat-card class="text-center dark-accent-bg product-card">
  <div>
      <img
          class="mb-1 mx-auto h-[200px]"
          src="../../../assets/test.jpg"
      />
      <div class="w-full">
          <h5>Large</h5>
          <p class="truncate hover:whitespace-normal">
              2017 AirForce Ones
          </p>
          <p>
              Found these shoes at GoodWill in great condition,
              unfortunately slightly too small for my feet!
          </p>
      </div>
      <div class="flex justify-between">
          <span class="warning-color">{{ "150" | currency }} </span>
          <button>
              <mat-icon>shopping_cart</mat-icon>
          </button>
      </div>
  </div>
</mat-card>