<div class="flex flex-col items-center justify-center h-full toolbarOffset">
  <img
    class="w-48 md:w-96 rounded-full mb-4"
    src="../../../assets/profilepic.JPG"
    alt="Profile Picture"
  />
  <h1 class="text-3xl font-bold mb-2">Isabella Whiting</h1>
  <p class="text-lg mb-4">
    Hey there, I'm Isabella Whiting, a 22-year-old senior currently attending
    Northern Arizona University. My idea of a perfect weekend involves camping
    out in the wilderness with my dog Jack, scouting out the best thrift stores
    in town, and soaking up all the fresh air and sunshine I can get.

    <br /><br />
    When I'm not out in the great outdoors, you'll probably find me browsing the
    racks at my favorite thrift shops. I'm a firm believer that the best outfits
    are the ones you create yourself, and there's nothing more satisfying than
    finding that perfect vintage piece that just speaks to your soul. Hopefully
    some of my finds speak to yours too!
  </p>
  
</div>
