@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #f4f9f3;
    --darkaccent: #f2fcf1;
    --warning: #de1422;
}

@font-face {
  font-family: 'Canela';
  src: url('./assets/Canela-Regular.ttf')
}
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--primary);
}

.fancy-font {
  font-family: "Canela";
}

.mat-badge-content {
    background: transparent;
    color: black;
}

.primary-color-bg {
    background: var(--primary);
}

.dark-accent-bg {
    background: var(--darkaccent);
}

.warning-color-bg {
  background: var(--warning);
}

.primary-color {
  color: var(--primary);
}

.dark-accent {
  color: var(--darkaccent);
}

.warning-color {
color: var(--warning);
}

.img-link {
  cursor: pointer;
}

.custom-dialog-container .mat-dialog-container {
  background-color: var(--darkaccent);
}